<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turing.sean.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login Activity -->
        <activity
            android:name="myapplication.ui.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name="myapplication.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Setting Activity -->
        <activity
            android:name="myapplication.ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="myapplication.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myapplication.MainActivity" />
        </activity>

        <!-- Order Detail Activity -->
        <activity
            android:name="myapplication.ui.activities.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName="myapplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myapplication.MainActivity" />
        </activity>

        <!-- Choose Section Activity -->
        <activity
            android:name="myapplication.ui.activities.ChooseSectionActivity"
            android:label="@string/title_activity_choose_section"
            android:parentActivityName="myapplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myapplication.MainActivity" />
        </activity>

        <!-- Doctor Detail Activity -->
        <activity
            android:name="myapplication.ui.activities.DoctorDetailActivity"
            android:label="@string/title_activity_doctor_detail"
            android:parentActivityName="myapplication.ui.activities.ChooseSectionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myapplication.ui.activities.ChooseSectionActivity" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
